@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebarspace: 200px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.general {
    border: 3px solid black;
    border-radius: 30px;
    width: 800px;
    display: flex;
    gap: 20px;
    padding: 5px;
}

.poke-name {
    font-size: 50px;
    font-weight: bold;
    width: 12ch;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.poke-type {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.poke-number {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    width: 4ch;
}
.water {
    background-color: dodgerblue;
}
.fire {
    background-color: rgb(255, 22, 69);
}
.grass {
    background-color: rgb(120, 241, 0);
}
.normal {
    background-color: rgb(227, 222, 178);
}
.flying {
    background-color: rgb(225, 255, 255);
}
.poison {
    background-color: darkmagenta;
}
.ghost {
    background-color: mediumpurple;
}
.psychic {
    background-color: indigo;
}
.ground {
    background-color: rgba(184, 135, 11, 0.804);
}
.dragon {
    background-color: rgb(68, 104, 104);
}
.ice {
    background-color: rgb(35, 255, 255);
}
.bug {
    background-color: rgb(23, 96, 23);
}
.fighting {
    background-color: rgb(255, 129, 83);
}
.rock {
    background-color: rgb(130, 102, 102);
}
.electric {
    background-color: rgb(240, 240, 0);
}
.steel {
    background-color: rgba(143, 143, 143, 0.716);
}
.dark {
    background-color: rgb(40, 40, 40);
}
.fairy {
    background-color: hotpink;
}
.reset {
    background-color: lightslategray;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
        0 0 0.2em rgb(0, 0, 0);
    color: white;
    font-size: 30px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 30px;
}
.filter-button {
    height: 65px;
    width: 125px;
}
.button {
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
        0 0 0.2em rgb(0, 0, 0);
    color: white;
    font-size: 30px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(238, 236, 251);
}

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px black;
    height: 100px;
}

.audio-button {
    display: flex;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 0px;
    border: 0px;
}

.background {
    background-color: burlywood;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-right: 3px solid black;
    width: 200px;
    margin-right: -200px;
    animation-name: sidebaropening;
    animation-duration: 1.5s;
    animation-delay: -0.1s;
    animation-fill-mode: forwards;
}

@keyframes sidebaropening {
    from {
        margin-left: -200px;
        margin-right: 0;
    }
    to {
        margin-left: 0;
        margin-right: -200px;
    }
}

.pokacid {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: solid black 2px;
    border-top: 0;
    height: 50px;
    padding: 30px;
    border-radius: 25%;
}

.footer {
    font-size: 20px;
    padding: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    border: solid black 3px;
    border-bottom: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.main {
    padding: 20px;
    padding-left: var(--sidebarspace);
    width: 100%;
}

.bodywrapper {
    display: flex;
    min-height: calc(100vh - 100px);
    flex-direction: row-reverse;
}

.footer-pos {
    display: flex;
    justify-content: center;
}

.body {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.pokeball {
    display: flex;
    align-items: flex-start;
    height: 100%;
    background: url(/pixelpokeball.png) 0 0;
    aspect-ratio: 75 / 100;
}

.pokeball:hover {
    animation-name: pokeballopening;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.themebutton {
    margin: 10px;
}

@keyframes pokeballopening {
    0% {
        background-position: -73px 0;
    }
    99.999% {
        background-position: -73px 0;
    }
    100% {
        background-position: -148px 0;
    }
}

.inner-card-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
}

.poke-card-wrap-1 {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.poke-card-wrap-2 {
    display: flex;
}

.poke-detail-name {
    font-size: 30px;
    font-weight: bold;
}

.poke-detail-japname {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.poke-detail-sprite {
    height: 250px;
    min-width: 250px;
    border: solid black;
    border-radius: 10px;
}

.detail-upper-container {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    gap: 30px;
    padding: 15px;
}

.detail-left-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail-body {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.name-number-wrapper {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.name-number-inner {
    display: flex;
    gap: 15px;
}

.detail-wrapper {
    display: flex;
    gap: 15px;
}

.poke-detail-number {
    font-size: 30px;
    font-weight: bold;
}

.poke-detail-type {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}

.type-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.habitat-gen-wrapper {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    gap: 15px;
}

.gen {
    font-size: 30px;
    font-weight: bold;
}

.habitat {
    font-size: 30px;
    font-weight: bold;
}

.button-chain-container {
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.stat-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
}

.base-stats-header {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.base-stats-footer {
    font-size: 20px;
    font-weight: bold;
}

.stat {
    font-size: 15px;
}

.stat-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
}
