@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebarspace: 200px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pixelated {
    image-rendering: pixelated;
}

.text-black-shadow {
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
        0 0 0.2em rgb(0, 0, 0);
}

.text-white-shadow {
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255),
        0 0 0.2em rgb(255, 255, 255);
}

.text-white-shadow-hover:hover {
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255),
        0 0 0.2em rgb(255, 255, 255);
}

.button:hover {
    background-color: rgb(238, 236, 251);
}
